/*div.heading {
	display: block;
}*/

nav {
	background-color: snow !important;
	border-color: snow;
	border-bottom-color: #3F4B3D;
}

li, a {
	color: #3F4B3D !important;
}

div.logo {
	content:url(./images/logo.png);
	width: 50px;
	float: left;
	margin: 4px 0;
}

a.navbar-brand {
	padding-left: 30px;
}

button {
	background-color: #3F4B3D;
	border-color: #3F4B3D !important;
}

button:hover {
	background-color: #A6D633 !important;
	border-color: #A6D633 !important;
}
