<div>
    <h1>My Garden</h1>
    <div class="row">
        <div class="col-sm-4" *ngFor="let plant of plants | keys; let i=index">
            <p><strong>Common Name: {{plants[plant].common}}</strong></p>
            <p><strong>Scientific Name: {{plants[plant].scientific}}</strong></p>
            <p><strong>Image URL: {{plants[plant].imgurl}}</strong></p>
            <p><strong>Water Requirements: {{plants[plant].water}}</strong></p>
            <p><strong>Sun Requirements: {{plants[plant].sun}}</strong></p>
            <p><strong>Date Planted: {{plants[plant].planted}}</strong></p>
            <p><strong>Date Bloomed: {{plants[plant].bloomed}}</strong></p>
            <p><strong>Location: {{plants[plant].location}}</strong></p>
            <p><strong>Maximum Height: {{plants[plant].height}}</strong></p>
            <p><strong>Maximum Width: {{plants[plant].width}}</strong></p>
            <p><strong>Native Species: {{plants[plant].native}}</strong></p>
            <a class="btn" href='/updatePlant/{{plant}}'> Edit </a>
            <button (click)="delete(i)"> Delete </button>
        </div>
    </div>
    <form>
        <br>
        <button type="submit" class="btn btn-success"><a href="addplant">Add Plant</a></button>
    </form>
</div>