<div class="container">
    <h1>My Garden List</h1>
    <a href="addplant" class="btn btn-success">Add Plant</a>
    <br />
    <br />
    <div class="row">
        <div class="col-sm-4" *ngFor="let plant of plants | keys; let i=index">
            <p><strong>Common Name: </strong>{{plants[plant].common}}</p>
            <p><strong>Scientific Name: </strong>{{plants[plant].scientific}}</p>
            <p><strong>Image URL: </strong>{{plants[plant].imgurl}}</p>
            <p><strong>Water Requirements: </strong>{{plants[plant].water}}</p>
            <p><strong>Sun Requirements: </strong>{{plants[plant].sun}}</p>
            <p><strong>Date Planted: </strong>{{plants[plant].planted}}</p>
            <p><strong>Date Bloomed: </strong>{{plants[plant].bloomed}}</p>
            <p><strong>Location: {{plants[plant].location}}</strong></p>
            <p><strong>Maximum Height: </strong>{{plants[plant].height}}</p>
            <p><strong>Maximum Width: </strong>{{plants[plant].width}}</p>
            <p><strong>Native Species: </strong>{{plants[plant].native}}</p>
            <a class="btn btn-primary btn-group" href='/updatePlant/{{plant}}'>Edit</a>
            <a class="btn btn-danger btn-group" (click)="delete(i)">Delete</a>
        </div>
    </div>
    <form>
        <br>
        <a href="addplant" class="btn btn-success">Add Plant</a>
        <br />
        <br />
    </form>
</div>
