<div class="container">

	<h1>Welcome to Janie's Garden App!</h1>

	<h2>Create, View, Edit and Delete Plants in Your Garden</h2>

	<h3>Use this website to track all of the plants in your garden:</h3>
	 
	<ol>
		<li>For each plant, enter information you want to track - such as common name, water requirements, and location on your property.</li>
		 
		<li>View your entire garden, shown as a list of the plants you've entered.</li>
		 
		<li>Edit and delete plants as needed.</li>
	</ol>
	 
	<h2>Then, get back to gardening!</h2>
	 
	<a routerLink="/signup"><button class="btn btn-primary btn-group"><i class="glyphicon glyphicon-leaf"></i> Sign Up</button></a>
	<a routerLink="/signin"><button class="btn btn-primary btn-group"><i class="glyphicon glyphicon-tree-deciduous"></i> Sign In</button></a>

</div>