<div class="container">
    <h1>Sign Up</h1>
    <form (ngSubmit)="onSubmit()" #signupForm="ngForm">
      <div class="form-group">
        <label for="name">Email</label>
        <input type="email" class="form-control" id="email" [(ngModel)] = "model.email" name="email">
        <p *ngIf="errors.email" class="validation">{{errors.email}}</p>
      </div>
 
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" [(ngModel)] = "model.pass" name="password">
        <p *ngIf="errors.pass" class="validation">{{errors.pass}}</p>
      </div>

      <div class="form-group">
        <label for="password">Confirm password</label>
        <input type="password" class="form-control" id="passConf" [(ngModel)] = "model.confpass" name="confirm password">
        <p *ngIf="errors.confpass">{{errors.confpass}}</p>
      </div>
 
      <button type="submit" class="btn btn-success" >Submit</button>
 	 <a [signinLink]="['/signin']" class="btn btn-link">Have an account? Click here to sign in!</a> 
    </form>
</div>
