<div class="container">
    <h1>Sign Up</h1>
    <form>
      <div class="form-group">
        <label for="name">Email</label>
        <input type="text" class="form-control" id="email" required>
      </div>
 
      <div class="form-group">
        <label for="password">Password</label>
        <input type="text" class="form-control" id="password">
      </div>

      <div class="form-group">
        <label for="password">Confirm password</label>
        <input type="text" class="form-control" id="password">
      </div>
 
      <button type="submit" class="btn btn-success">Submit</button>
 	<!-- <a [signinLink]="['/signin']" class="btn btn-link">Have an account? Click here to sign in!</a> -->
    </form>
</div>
