<div class="container">
    <h1>My Garden</h1>
    <div class="row">
        <div class="col-sm-4" *ngFor="let plant of plants | keys; let i=index">
            <p><strong>Common Name: </strong>{{plants[plant].common}}</p>
            <p><strong>Scientific Name: </strong>{{plants[plant].scientific}}</p>
            <p><strong>Image URL: </strong>{{plants[plant].imgurl}}</p>
            <p><strong>Water Requirements: </strong>{{plants[plant].water}}</p>
            <p><strong>Sunlight Requirements: </strong>{{plants[plant].sun}}</p>
            <p><strong>Date Planted: </strong>{{plants[plant].planted}}</p>
            <p><strong>Date Bloomed: </strong>{{plants[plant].bloomed}}</p>
            <p><strong>Location: </strong>{{plants[plant].location}}</p>
            <p><strong>Max Height: </strong>{{plants[plant].height}}</p>
            <p><strong>Max Width: </strong>{{plants[plant].width}}</p>
            <p><strong>Native Species: </strong>{{plants[plant].native}}</p>
            
            <button > Edit </button> 
            <button (click)="delete(i)"> Delete </button>
            
        </div>
    </div>
        <form>
            <br>
            <button type="submit" class="btn btn-success"><a href="addplant">Add Plant</a></button>
    </form>
</div>
